.skill {
  margin: 1rem 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  max-width: 30rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.skill:hover {
  transform: translateY(-5px);
}

.skill:hover::before,
.skill:hover::after {
  display: none;
}

.skill h3 {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: var(--tech-blue-light);
  letter-spacing: 2px;
  margin: 1.5rem;
}

.description {
  text-align: justify;
  padding: 0.5rem 2rem 2rem;
}

.description p {
  font-size: clamp(0.8rem, 1.5vw, 0.9rem);
  line-height: 1.6;
}

.description p span {
  color: var(--tech-blue-light);
  font-weight: 600;
}

.icon {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1.5rem;
  padding: 0 1.5rem;
  justify-items: center;
}

.icon svg {
  width: 30px;
  height: 30px;
}

.icon img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .skill {
    min-width: unset;
    width: 80%;
  }

  .description {
    padding: 0.5rem 1.5rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .icon {
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 1rem;
  }
}
