.container {
  width: 100%;
  align-content: center;
}

.contact {
  margin: 3vh;
}

.contact div {
  display: flex;
  flex-wrap: nowrap;
  margin: 0.5rem 0;
  font-size: 0.7rem;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.contact div h3 {
  color: var(--neutral-800);
}

.contact div svg {
  margin: 0 0.5rem;
  width: 20px;
  height: 20px;
  fill: var(--neutral-800);
}

/* ================ send email ================== */

.emailing {
  margin: 1vh auto;
  padding: 1rem 4vw;
  width: 30vw;
  border-radius: 5px;
  border: 1px solid var(--metallic-light);
  box-shadow: 0.1rem 0.1rem 0.3rem var(--tech-blue-light);
}

.emailing h4 {
  color: var(--tech-blue-light);
  margin: 2vh 0;
  font-size: 1.2rem;
}

.emailing form {
  margin: 2vh 0;
  width: 100%;
}

.emailing form div {
  display: flex;
  flex-direction: column;
  margin: 1.5vh 0;
}

.emailing form div label {
  color: var(--neutral-800);
  margin: 0.5vh 0.8rem;
  font-size: 0.85rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.emailing form div input,
.emailing form div textarea {
  padding: 0.35rem 0.5rem;
  border-radius: 5px;
  color: var(--neutral-900);
  border: 1px solid var(--tech-blue-light);
}

.emailing form div textarea {
  width: 100%;
  height: 7rem;
  resize: none;
}

.emailing form div input:focus,
.emailing form div textarea:focus {
  border: 1px var(--neutral-800t);
  box-shadow: 0 0 0.4rem var(--tech-blue-light);
  outline: none;
}

.submit_button {
  margin: 1rem 0;
  width: 100%;
}

.submit_button button {
  color: var(--metallic-light);
  width: 6rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--tech-blue-light);
  margin: 0 auto;
  transition: all 0.3s ease;
  background: linear-gradient(
    135deg,
    var(--tech-blue-dark) 0%,
    var(--tech-blue-light) 100%
  );
}

.submit_button button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: linear-gradient(
    135deg,
    var(--tech-blue-dark) 0%,
    var(--tech-blue-light) 100%
  );
}

.submit_button button:hover:not(:disabled) {
  background: linear-gradient(
    135deg,
    var(--tech-blue-light) 0%,
    var(--tech-blue-main) 100%
  );
  border-color: var(--tech-blue-main);
  color: white;
  filter: drop-shadow(0 0 0.5rem var(--tech-blue-light));
}

.success,
.failed {
  text-align: center;
  font-size: 0.8rem;
}

.success {
  color: green;
}

.failed {
  color: red;
}

.sending {
  margin-top: 0.2rem;
  position: relative;
  animation: sendingMove 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.sending svg {
  width: 20px;
  height: 20px;
  fill: var(--metallic-light);
}

@media screen and (min-width: 1024px) {
  .emailing {
    width: 50vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .emailing {
    width: 70vw;
  }
}
@media screen and (max-width: 767px) {
  .emailing {
    width: 85vw;
  }
}

@media (max-width: 480px) {
  .emailing {
    width: 90vw;
  }
}
