.container {
  margin: 8rem auto 4rem;
  display: flex;
  align-items: center;
  width: 85vw;
  max-width: 80rem;
  padding: 6rem 4rem;
  border-radius: 5px;
}

.container img {
  max-width: 320px;
  width: 35vw;
  height: 320px;
  object-fit: cover;
  margin-left: -8rem;
  margin-right: 40px;
  border-radius: 20px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.container img:hover {
  transform: scale(1.02);
}

.container h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
  background: linear-gradient(
    45deg,
    var(--tech-blue-main),
    var(--tech-blue-light)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container h3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 0 12px;
  font-weight: bold;
}

.container p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 35px;
  color: var(--tech-blue-dark);
}

.container .buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.buttons button {
  border: 2px solid var(--tech-blue-main);
  padding: 0.5rem 2rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 80px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.buttons button a {
  color: var(--tech-blue-dark);
}

.buttons button.primary a {
  color: var(--metallic-light);
}

.buttons button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.buttons button.primary {
  background: var(--tech-blue-main);
  color: var(--metallic-light);
}

.buttons button.primary:hover {
  background: linear-gradient(
    45deg,
    var(--tech-blue-main),
    var(--tech-blue-light)
  );
}

@media (width <= 768px) {
  .container {
    margin: 6rem auto 3rem;
    padding: 30px;
    width: 90vw;
    text-align: center;
    flex-direction: column;
  }

  .container img {
    margin: -100px auto 30px;
    width: 100%;
    max-width: 300px;
    height: 280px;
  }

  .buttons {
    justify-content: center;
  }

  .buttons button {
    width: 40%;
    min-width: 120px;
  }
}

@media (width <= 480px) {
  .container {
    margin: 5rem 20px 2rem;
    padding: 20px;
  }

  .container img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: -90px auto 25px;
  }

  .container h2 {
    font-size: 24px;
  }

  .container p {
    font-size: 15px;
    padding: 0 10px;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }
  .buttons button {
    width: 100%;
    padding: 10px 20px;
  }
}
