:root {
  /* Primary technological colors */
  --tech-blue-dark: #001b44;
  --tech-blue-main: #003785;
  --tech-blue-light: #0057d9;

  /* Metallic accents */
  --metallic-light: #e8edf2;
  --metallic-dark: #b7c3cc;
  /* Neutrals */
  --neutral-50: #f8fafc;
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --neutral-300: #cbd5e1;
  --neutral-400: #94a3b8;
  --neutral-500: #64748b;
  --neutral-600: #475569;
  --neutral-700: #334155;
  --neutral-800: #1e293b;
  --neutral-900: #0f172a;

  color: var(--neutral-900);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --tech-blue-rgb: 61, 90, 254;
}

/* Adjustments for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Adjusted versions of blues for dark mode */
    --tech-blue-dark: #002966;
    --tech-blue-main: #0047ab;
    --tech-blue-light: #0066ff;

    /* Adjusted metallic accents */
    --metallic-light: #f0f4f8;
    --metallic-dark: #c8d1da;
  }
}

/* Examples of metallic gradients */
.metallic-gradient {
  background: linear-gradient(
    135deg,
    var(--metallic-light) 0%,
    var(--metallic-dark) 100%
  );
}

/* Example of technological gradient */
.tech-gradient {
  background: linear-gradient(
    135deg,
    var(--tech-blue-dark) 0%,
    var(--tech-blue-light) 100%
  );
}

.container {
  min-height: calc(100vh - 5rem);
  padding-top: 5rem;
}
.container h2 {
  text-align: center;
  font-size: 200%;
  color: var(--tech-blue-main);
}
body {
  background: var(--metallic-light);
  background-repeat: no-repeat;
  height: 100%;
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: var(--neutral-400);
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: var(--tech-blue-dark);
  border-radius: 5px;
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: var(--tech-blue-main);
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  transition: all 0.3s linear;
  font-display: swap;

  /* unselectable*/
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
}
